{% extends './Base.html' %}

{% block title %}Inicio{% endblock %}
{% block styles%}{% endblock %}
{% block guia %}
<a href="{{ url_for('preguntas') }}">Preguntas Frecuentes</a>
   {% endblock %}
{% block botones %}    
<div class="boton">
 <button class="botonRegistrar" onclick="location.href='#index.html'">Registrarse</button>
 <button class="botonIngresar" onclick="location.href='#index.html'">Ingresar</button>
</div>
</a>
</div>       
</div> 
{% endblock %} 
{% block cursos %}  
           <div class="Cursos">
            <body>
              <div class="tarjeta">
                  <div class="tarjeta-inner">
                      <div class="tarjeta-front imagen-uno"></div>
                      <div class="tarjeta-back">
                          <p>Curso de inglés de 0 a A1</p>
                      </div>
                  </div>
              </div>
              <div class="tarjeta">
                  <div class="tarjeta-inner">
                      <div class="tarjeta-front imagen-dos"></div>
                      <div class="tarjeta-back">
                          <p>Parte de nuestra cultura, aprende a hacerlas ;)</p>
                      </div>
                  </div>
              </div>
              <div class="tarjeta">
                <div class="tarjeta-inner">
                    <div class="tarjeta-front imagen-tres"></div>
                    <div class="tarjeta-back">
                        <p>Descubre el poder del patrón Modelo-Vista-Controlador (MVC) en nuestro curso interactivo. Aprende a estructurar eficientemente tus aplicaciones web y mejora tu habilidad de desarrollo. ¡Inscríbete ahora! 😊</p>
                    </div>
                </div>
            </div>
            <div class="tarjeta">
              <div class="tarjeta-inner">
                  <div class="tarjeta-front imagen-cuatro"></div>
                  <div class="tarjeta-back">
                      <p>Proximamente ...</p>
                  </div>
              </div>
          </div>
              <!-- Agregá más tarjetas para más cursos-->
          </body></div>
          
         {% endblock %} 