<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form method="POST">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Correo:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Registrar">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning">
        {{ messages[0] }}
      </div>
    {% endif %}
    {% endwith %}
</body>
</html>
